@{
    Layout = "_Layout";
    ViewData["Title"] = "Channels";
    var createButtonStyle = Model.IsChannelCreated ? "disabled" : string.Empty;
}

@model TradingCardGame.Models.Channel.ChannelIndexViewModel

<link rel="stylesheet" href="~/css/channels.css" />

<div class="channel-container">
    <div class="channels-sidebar">
        <h3 class="channels-text">Channels</h3>
        <div class="user-channels">
            
            <div class="channel-create-button">
                <a class="btn btn-primary w-100 @createButtonStyle" asp-controller="Channel" asp-action="CreateChannel">Create Channel</a>
            </div>

            @foreach (var channel in Model.Channels)
            {
                <div class="single-channel">
                    <span>@channel</span>
                </div>
            }
        </div>
    </div>

    <div class="channel-content">
        <div class="channel-nav" id="channelNav"></div>
        <h1 class="header mt-3"></h1>
        <div class="post-form">
            <form class="mt-5 mb-5 text-left" method="post">
                <div class="alert alert-danger" role="alert" id="errorAlert">
                    Content should be at least 3 symbols long
                </div>
                <h3>Write a post</h3>
                <div class="form-group">
                    <input class="form-control" id="dummyInput" placeholder="Tell us what you think" onclick="showTextArea(event)" />
                </div>
                <div id="postContentArea">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Post content..." rows="5"></textarea>
                    </div>
                    <button class="btn btn-primary w-100" onclick="createPost(event)">Post</button>
                </div>
            </form>
        </div>
        <div class="channel-posts">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/channels.js"></script>
} 