.information-container {
    width: 40%;
    margin: 10px auto;
}

.information-label {
    font-size: 30px;
}

.input-container {
    margin: 10px 0;
}

    .input-container input {
        float: right;
        width: 55%;
        font-size: 20px;
    }

.back-container {
    width: 50%;
    margin: 10px auto;
}
