@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Manage";
}

@model TradingCardGame.Models.Channel.CreateChannelInputModel 

<link rel="stylesheet" href="~/css/manage.css" />

<div>
    <div class="manage-container">
        <form asp-controller="Manage" asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-container">
                <span class="manage-label">Name:</span>
                <input class="manage-input mt-2" asp-for="Name"/>
            </div>
            <div class="input-container">
                <span class="manage-label">Max Players:</span>
                <input class="manage-input mt-2" type="number" asp-for="MaxPlayers"/>
            </div>
            <div class="input-container">
                <span class="manage-label">Security:</span>
                <select class="custom-select manage-select mt-2" asp-for="Security">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
            <div class="change-container">
                <button class="btn btn-primary w-100">Save Changes</button>
            </div>
        </form>        
    </div>
    <div class="users-cards-container">
        <div class="manage-nav">
            <div class="manage-nav-item">Users</div>
        </div>
        <div class="data-container">
            <div class="user-card">
                <span class="user-email">User email</span>
                <span class="delete-user">X</span>
                <span class="user-role">
                    <select>
                        <option>Moderator</option>
                        <option>User</option>
                    </select>
                </span>
            </div>
         
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/manage.js"></script>
}